@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body{
  margin: 0;
  margin: auto 5vw;
  text-align: center;
  background-color: #72FFFF;
}

#user-area{
  margin-top: 5vh;
}

#app-head{
  color : #0078AA;
  font-family: 'Roboto Slab', serif;
}

::placeholder{
  color : #fff;
  font-style: italic;
}


#uname{
  background-color: #4ab4ff;
  color : #DFF6FF;
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  border-radius: 20px;
  border: 3px solid #DFF6FF;
}

input:focus{
  outline: none;
}

.user-card{
  background-color: #00D7FF;
  display: inline-flex;
  flex-direction: column;
  margin: 1vh 0.4vw;
  padding: 0.5vh 0.7vw;
  border-radius: 20px;
  border : 2px solid black;
  transition: all 0.8s;
  box-shadow: 1px 1px 4px black;
}

.user-card:hover{
  transform: scale(1.04);
  background-color: #0096FF;
}

.user-card > h2 {
  font-family: 'Montserrat', sans-serif;
  color : #4B5D67;
}

.user-card > h3{
  font-family: 'Lato', sans-serif;
  color : #FFFFFF;
}